#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    z-index: 10000;
    background-color: #d9e5f8;
}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #fff;
    color: #000;
}

#footer {
    text-align: center;
    border-top: 1px solid #bed1ee;
    padding: 10px 10px 10px 250px;
    background-color: #fff;
    color: #000;

    a {
        color: #000000;
        padding: 10px;
        display: inline-block;

        &:hover {
            @include underline;
            text-decoration-color: var(--black300);
        }
    }
}