.search__inner {
    width: 100%;
    padding: 17px 40px;
    border-bottom: 1px solid #bed1ee;

    label {
        display: none;
        color: #dddada;
    }

    .search__input {
        width: 100%;
        background-color: #f4f8fd;
        border: 1px solid #bed1ee;
        padding: 15px 30px;
        border-radius: 10px;
        color: #bed1ee;

        .placeholder {
            color: #ccc;
        }
    }
}

@media(max-width:800px) {
    #header {
        width: 245px;
    }

    .header__menu {
        padding: 10px;
    }

    .search__inner {
        padding-left: 250px;
        margin-bottom: 100px;
        background-color: #fff;
    }

    #search {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    #today {
        margin-top: 80px;
    }
}