#today {}

.today__inner {
    display: flex;
    border: 1px solid var(--maincolor);
    margin-bottom: 40px;

    .today__thumb {
        width: 40%;
        background-image: url(https://i.ytimg.com/vi/3RwTNe0gHYI/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA5BPh_GroVpmoozzCiGqwTHZhdtQ);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .today__text {
        width: 60%;
        height: 310px;
        margin-left: 10px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .today {
            width: 200px;
            background-color: #c0d7fac2;
        }

        .title {
            margin-top: 10px;
        }

        .desc {
            margin-top: 5px;
            position: relative;
            color: #777676;
            font-size: 14px;
        }
    }

    .info {
        display: flex;
        position: absolute;
        text-decoration: underline;
        width: 150px;

        .author {
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        .date {
            font-size: 12px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }

}