@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    font-style: normal;
    src: url('../../fonts/nanumSquare-Light.woff2') format('woff2'),
        url('../../fonts/nanumSquare-Light.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/nanumSquare-Regular.woff2') format('woff2'),
        url('../../fonts/nanumSquare-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/nanumSquare-Bold.woff2') format('woff2'),
        url('../../fonts/nanumSquare-Bold.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/nanumSquare-ExtraBold.woff') format('woff2'),
        url('../../fonts/nanumSquare-ExtraBold.woff2') format('woff');
}

@font-face {
    font-family: "nexonMaplestory";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/nexonMaplestory-Light.woff") format("woff2"),
        url("../../fonts/nexonMaplestory-Light.woff2") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "nexonMaplestory";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/nexonMaplestory-Light.woff") format("woff2"),
        url("../../fonts/nexonMaplestory-Light.woff2") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "nexonMaplestory";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/nexonMaplestory-Bold.woff") format("woff2"),
        url("../../fonts/nexonMaplestory-Bold.woff2") format("woff");
    font-display: swap;
}